.footer-container {
    background-color: var(--color-primero);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Cambia a 'center' para alinear verticalmente */
    width: 100%;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 1rem;
}
  
.contacto-container,
.secciones-container,
.redes-container {
    flex: 1;
    min-width: 190px; /* Asegura que las secciones tengan un tamaño mínimo */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.contacto-container ul,
.secciones-container ul,
.redes-container ul {
    list-style: none;
    padding: 15px;
    margin: 0;
}
  
.secciones-container ul {
    padding: 7px;
}

.redes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-container .icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre los íconos */
}

.redes-container a {
    margin: 5px 0;
}

.fa {
    margin-right: 5px;
}

.list li {
    padding: 10px;
}



.contacto-container a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-size: medium;
}

.list a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.redes-container a{
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    font-size: x-large;
}

.contacto-container a:hover, 
.redes-container a:hover{
    color: aquamarine;
}

.list a:hover{
    color: aquamarine;
    border-bottom: 2px solid aquamarine;
}

.footer-container h4{
  color: white;
}