table{
    border-collapse: collapse;
    width: calc(100% - 20px);
    border-radius: 8px;
    box-shadow: 2px 2px 8px var(--color-sombra);
    margin-bottom: 1rem;
    white-space: nowrap;
}

.flex-container-table{
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    padding: 0.5rem 1rem ;
    overflow-x: auto;
}

table th,
table td{
    padding: 4px 8px;
    border: none;
    text-align: start;
}

th:last-child{
    text-align: center;
}

.columna-botones{
    display: flex;
    justify-content: center;
}

tr{
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgb(231, 231, 231);
}

tbody tr:last-child{
    border-bottom: none;
}

tbody tr:hover{
    background-color: rgb(231, 231, 231);
}

.boton-edit{
    padding: 10px 20px;
    border: none;
    background-color: darkorange;
    margin: 4px;
    color: var(--color-fuente-alt);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.boton-edit:hover{
    background-color: rgba(255, 140, 0, 0.75);
}

.boton-delete{
    padding: 12px 20px;
    border: none;
    background-color: crimson;
    margin: 4px;
    color: var(--color-fuente-alt);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.boton-delete:hover{
    background-color: rgba(220, 20, 60, 0.75);
}
