.modal{
    min-width: 330px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 8px var(--color-sombra-osc);
}

.icon-modal{
    font-size: xx-large;
    color: green;
    padding-right: 4px;
}