.nav-desktop{
    display: flex;
    width: 66%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.nav ul {
    list-style: none;
    text-align: center;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black;
}

.open > a{
    text-shadow: none;
}

.nav ul li a,
.nav ul li a:after,
.nav ul li a:before {
    transition: all .3s;
}

.nav ul li a:hover {
    color: aquamarine;
    text-shadow: none;
}

.nav.stroke ul li a{
    position: relative;
}

.nav.stroke ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: aquamarine;
    height: 2px;
    text-shadow: none;
    visibility: hidden;
}

.nav.stroke ul li a:hover:after {
    width: 100%;
    visibility: visible;
}

.menu-icon{
    font-size: 32px;
    color: white;
    position: relative;
    z-index: 200;
    cursor: pointer;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 450px;
    width: 100%;
    margin-top: -100%;
    transition: all 0.4s ease-out;
    background-color: var(--color-primero);
    z-index: 100;
    box-shadow: 0px 3px 15px var(--color-sombra-osc);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav.open {
    margin-top: 0;
    visibility: visible;
}

.open{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.open li{
    padding: 8px;
}