.form-buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
}

.form-input{
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 16px 12px 6px 12px;
    border-radius: 4px 4px 0px 0px;
    transition: all 0.4s ease-in-out;
    border-bottom: 3px solid var(--color-sombra);
}

.form-input:hover{
    background-color: rgb(209, 209, 209);
}

.form-input:focus{
    outline: none;
    background-color: rgb(231, 231, 231);
    border-bottom: 3px solid var(--color-primero);
}

.ff-icon{
    padding: 0px 6px;
}

.form-field{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item-check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.form-field-checkbox{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.form-label{
    color: var(--color-fuente-op);
    font-size: medium;
}

.flex-container-center{
    display: flex;
    width: calc(100% - 1rem);
    max-width: 800px;
    align-items: stretch;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px var(--color-sombra);
    border-radius: 0.5rem;
    background-color: white;
}

.buscador{
    max-width: fit-content;
}

.columna-botones-buscador{
    display: flex;
    justify-content: flex-end;
    max-width: none;
    gap: 0.5rem;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
}

.section-flex{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    padding-top: 1rem;
}

.doble-form > .form-field{
    width: 50%;
    min-width: 150px;
}

.checkbox-field{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.checkbox-field label{
    display: flex;
    gap: 0.5rem;
}