.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); 
  }
  
  .formulario {
    width: 300px; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .formulario label {
    margin-bottom: 8px;
    color: #333;
  }
  
  .formulario input[type="text"],
  .formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .formulario button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(0, 100, 100);
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .formulario button:hover {
    background-color: rgb(0, 80, 80);
  }
  