/* Clase base */
.boton{
    padding: 12px 20px;
    border: none;
    background-color: white;
    color: var(--color-primero);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.5rem;
}

.boton:active{
    transition: none;
    transform: scale(97%);
    filter: saturate(3.5);
    box-shadow: none;
}

.boton:disabled{
    color: var(--color-fuente);
    background-color: var(--color-sombra);
    cursor: not-allowed;
    box-shadow: none;
}

.boton:disabled:hover{
    color: var(--color-fuente);
    background-color: var(--color-sombra);
    cursor: not-allowed;
    box-shadow: none;
}

.boton:disabled:active{
    transform: none;
    filter: none;
}

.boton:hover{
    background-color: var(--color-primero);
    color: white;
}

/* Agregar colores con nombre descriptivo de la misma forma que abajo */
.danger{
    background-color: crimson;
    color: white;
}
/* El hover es el mismo color anterior con opacidad 0.75
   Aclarar si es necesario el color de la letra */
.danger:hover{
    background-color: rgba(220, 20, 60, 0.75);
}

.primary{
    background-color: var(--color-primero);
    color: white;
}

.primary:hover{
    background-color: var(--color-primero-op);
}

.warning{
    background-color: rgb(255, 140, 0);
    color: white;
}

.warning:hover{
    background-color: rgba(255, 140, 0, 0.75);
    color: white;
}

.secondary{
    background-color: var(--color-segundo);
    color: white;
}

.secondary:hover{
    background-color: var(--color-segundo-op);
    color: white;
}

.shadowed{
    box-shadow: 2px 2px 8px var(--color-sombra-osc);
}

.grow{
    flex-grow: 1;
}

.rounded{
    border-radius: 4px;
}

.extrarounded{
    border-radius: 35px;
}

/* .ff-icon-bt{

} */